{% extends "base.html" %}

{% block javascript %}

{% endblock %}


{% block content %}
    <div class = 'row my-5'>
        <div class ='col-12'>
            <h1>Sales Data</h1>
        </div>
    </div>

    <hr />

    <div class = 'row'>
        <div class='col-4'>
            <h3>Today's Sales</h3>
            <hr/>
        </div>
        <div class ='col'>
            <p>Recent Total $ {{ today.recent_data.total__sum }}</p>
            <ol>
            {% for order in today.recent %}
                <li> {{ order.order_id }}
                {{ order.total }}
                {{ order.updated }}</li>
            {% endfor %}
            </ol>
        </div>
        <div class='col'>
            <canvas class='cfe-render-chart' data-type='lastweek' id="thisWeekSales" width="400" height="400"></canvas>
        </div>
    </div>
    <div class = 'row'>
        <div class ='col'>
            <p>Shipped Total $ {{ today.shipped_data.total__sum }}</p>
            <ol>
            {% for order in today.shipped %}
                <li>{{ order.order_id }}
                {{ order.total }}
                {{ order.updated }}</li>
            {% endfor %}
            </ol>
           <h3>This weeks Sales</h3>
                <p>Recent Total ${{ this_week.recent_data.total__sum }}</p>
                <ol>
                {% for order in this_week.recent %}
                    <li> {{ order.order_id }}
                    {{ order.total }}
                    {{ order.updated }}</li>
                {% endfor %}
                </ol>
        </div>
    </div>

    <div class = 'row'>
        <div class ='col'>
            <p>Paid Totals: $ {{ today.paid_data.total__sum }}</p>
            <ol>
            {% for order in today.paid %}
                <li>{{ order.order_id }}
                {{ order.total }}
                {{ order.updated }}</li>
            {% endfor %}
            </ol>
        </div>
    </div>





    <div class = 'row'>

    </div>

    <div class = 'row'>
        <div class='col-12'>
            <h1>Last four weeks Sales</h1>
        </div>
        <div class ='col'>
            <p>Recent Total ${{ last_four_weeks.recent_data.total__sum }}</p>
            <ol>
            {% for order in last_four_weeks.recent %}
                <li> Order  #{{ order.order_id }}
                {{ order.total }}
                {{ order.updated | timesince}} ago</li>
            {% endfor %}
            </ol>
        </div>
        <div class='col-12'>
            <canvas class='cfe-render-chart' data-type='4weeks' id="fourWeekSales" width="400" height="400"></canvas>
        </div>
    </div>

    <div class = 'row'>
        <div class ='col'>
            <p>Shipped Total ${{ last_four_weeks.shipped_data.total__sum }}</p>
            <ol>
            {% for order in last_four_weeks.shipped %}
                <li>{{ order.order_id }}
                {{ order.total }}
                {{ order.updated }}</li>
            {% endfor %}
            </ol>
        </div>
    </div>

    <div class = 'row'>
        <div class ='col'>
            <p>Paid Totals: ${{ last_four_weeks.paid_data.total__sum }}</p>
            <ol>
            {% for order in last_four_weeks.paid %}
                <li>{{ order.order_id }}
                {{ order.total }}
                {{ order.updated }}</li>
            {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}