{% extends "base.html" %}

{% block content %}
    <div class = "contianer">
        <div class = "row">
            <div class ='col-12 my-3'>
                <h1>Product View History</h1>
                <hr />
            </div>
                {% for obj in object_list%}
                        <div class = "col">
                        {{ forloop.counter }}
                        {%include 'products/snippets/card.html' with instance=obj.content_obj %}
                        </div>
                        
                {% endfor %}
        </div>
    </div>
{% endblock %}